// variables
$primaryColor: rgb(0, 189, 132);
$secondaryColor: #1a2634;
$textColor: #1a2634;
$headingColor: white;

// style
*{
    font-family: 'Montserrat', sans-serif;
}

.custom{
    background-color: $primaryColor;
}
.jumbotron{
    color: white;
}